/*Color Pallet*/
/*
#F6F1F1
#19A7CE
#146C94
#000000
*/


body {
  background-color: #F6F1F1;
  color: black;
}

h1 {
  text-align: center;
}

#role,
#intro {
  font-style: italic;
  text-align: center;
}

#selfie {
  display: block;
  margin: auto;
  height: 20rem;
  border-radius: 70%;
  border-style: solid;
  border: 30px;
}

th {
  text-align: left;
}

.topnav {
  text-align: center;
}

#skills,
#experience {
  font-size: 25px;
  font-style: italic;
}

a {
  color: #19A7CE;
}

hr{
  border-style: none;
  border-top-style: dashed;
  border-width: 5px;
  border-color: #19A7CE;
  width: 12%;
  
}

