/*Color Pallet*/
/*
#4d455d
#e96479
#f5e9cf
#7db9b6
*/

body {
  background-color: #4d455d;
}

h1,
h3 {
  text-align: center;
  color: #f5e9cf;
}

#role,
#intro {
  font-style: italic;
  text-align: center;
}

#selfie {
  display: block;
  margin: auto;
  height: 20rem;
  border-radius: 70%;
  border-style: solid;
  border: 30px;
}

th {
  text-align: left;
}

.topnav {
  text-align: center;
  font-size: larger;
  margin: auto;
}

#skills,
#experience {
  font-size: 25px;
  font-style: italic;
}

a {
  color: #f9dbbb;
}

hr {
  border-top: #4d455d;
}
